/// main color 
// $mainColor :#6392FF;
$mainColor :#227093;
$hover: rgb(245, 243, 243);
$li:#dfe6e9;
// $mid:rgba(119, 119, 119, 0.18);
$mid:#d1ccc0;
$l :#636e72;
$dark:#2d3436;
$purple:#8e44ad;
$oran:#16a085;
$midNiht:#2C3A47;